# Pre-commit
# https://github.com/pre-commit/pre-commit

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: check-symlinks

- repo: https://github.com/bridgecrewio/checkov
  rev: 2.1.227
  hooks:
  - id: checkov
    verbose: true
    args: [--soft-fail]

- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.75.0
  hooks:
    - id: terraform_fmt
    - id: terraform_docs
    - id: terraform_validate
      exclude: test/fixtures/shared
